.resetPassword {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--white_1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetPassword-box {
    width: 35%;
}

.otp-description {
    font-size: small;
}

.reset-description {
    font-size: small;
}

.otp-button Button {
    border: none;
    font-weight: bold;
}

.reset-button Button {
    border: none;
    font-weight: bold;
}

.back-to-login Button {
    font-size: small;
    font-weight: 500;
    padding: 0;
    float: right;
    color: var(--highlight_green);
}

@media screen and (max-width: 1000px) {
    .resetPassword-box {
        min-width: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 675px) {
    .resetPassword-box {
        min-width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
}